@media (max-width: 991px) {
    .container {
        width: 750px;
    }
    .wrapper {
        width: 100%;
        height: 880px;
        margin-bottom: -51px;
    }

    .rates {
        width: 100%;
        height: 50px;
    }
    .tabContent {
        width: 100%;
        height: 560px;
    }
    .programDescr {
        width: 100%;
        height: 640px;
    }
    .statistic {
        width: 100%;
        height: 360px;
    }

    .advantages {
        width: 100%;
        height: 950px;
    }

    footer {
        width: 100%;
        height: 510px;
    }
}
